# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Testing
coverage/

# OS Logs & System Files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor Directories
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs (future proofing)
dist/
build/
extensions/

# Temp files
tmp/
temp/
